<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
</head>
<body>
<div class="container">
		{include file="header.htm"}
		<div class="row">
			{$pageBar}
			{foreach $msgList as $v}
				<div class="media">
					
							<a class="pull-left" href="detail.php?cid={$v["cat_id"]}&id={$v["message_id"]}"><img class="media-object" style="width:200px;height:150px;" src="upload/{if $v.img neq ''}{$v.img}{else}nopic.jpg{/if}" alt=""></a>
						
			
					<div class="media-body">
						<h3>{$v.title}</h3>
						<div class="cnt">{$v.content}</div>
					</div>
				</div>
			{/foreach}
			{$pageBar}
		</div>
		

		
	</div>
</body>
</html>